# Fichiers Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan

# Fichiers sensibles
.env**
*.yml
*.yaml
*.pem
*.key
*.cert
*.conf
*.sh

# Fichiers d'environnement
**/.env
**/node_modules
*.csv
*.hcl
tfplan
*.tfvars
*.tfvars.json
.aws/